.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  box-sizing: content-box;
  float: left;
  margin-right: 10px;
  position: static;
  line-height: normal;
  width: 72px;
}

.Weather .temperature {
  box-sizing: content-box;
  display: inline;
  font-weight: 400;
  color: rgb(33, 33, 33);
  line-height: 56px;
  font-size: 48px;
  float: left;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}
